#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.nav_link{
  text-transform: uppercase;
  color: #ffffff !important;
  font-weight: bold !important;
  letter-spacing: 1px;
}
.button{
  color: #ffffff !important;
  width: fit-content !important;
  text-transform: uppercase;
  border-radius: 0px !important;
}
.section_heading{
  text-transform: uppercase;
}
.footer{
  margin-top: 10rem !important;
}
.footer_col{
  border-top: 1px solid gray;
}
.footer_col svg{
  padding: 5px !important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:449px) {
  .nav_link{
    letter-spacing: 0px !important;
    font-size: 13px !important;
  }
}
@media screen and (max-width:351px) {
  .nav_link{
    letter-spacing: 0px !important;
    font-size: 10px !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
