@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family:sans-serif;
}
.btn{  
  padding: 1rem 2rem;
  border-radius: 20px;
}
.bg-primary{
  background-color: #FFAB40; 
}
.btn-primary{
  background-color: #FFAB40;
  color: #fff;
}
.over-padding{
  padding: 1rem 4rem !important;
}
.text-primary{
  color: #FFAB40;
}
.input{
  width: 100%;
  border: 1px solid #80808075;
  padding: 10px;
  border-radius: 10px;
}
.input:focus{
  outline: 1px solid #FFAB40;
}
input[type="checkbox"] {
  display: none;
}
.checkboxDiv{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox-checkmark {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #fff; /* Light background for unchecked state */
  border: 1px solid #80808075; /* Border for unchecked state */
  border-radius: 4px; /* Rounded corners */
  margin-right: 10px; /* Spacing between checkbox and label text */
  transition: background-color 0.2s, border-color 0.2s;
}

.checkboxDiv input[type="checkbox"]:checked + .checkbox-checkmark {
  background-color: #ffab40; 
  border-color: #ffab40;
}

.checkbox-checkmark:after {
  content: "";
  position: absolute;
  left: 30%;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transform-origin: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.checkboxDiv input[type="checkbox"]:checked + .checkbox-checkmark:after {
  opacity: 1;
}
